<h1>新規投稿</h1>
<%= form_with model: @list, url:'/lists', method: :post do |f| %>
  <h3>Title</h3>
  <%= f.text_field :title %><br>
  <h3>Body</h3>
  <%= f.text_area :body %><br>
  <h3>画像</h3>
  <%= f.file_field :image, accept: "image/*" %>
  <%= f.submit "送信" %>
<% end %>
