<h1>新規投稿</h1>
<% if @list.errors.any? %>
 <%= @list.errors.count %>件のエラーが発生!
 <ul>
   <% @list.errors.full_messages.each do |message| %>
     <li><%= message %></li>
   <% end %>
 </ul>
<% end %>
<%= form_with model: @list, url:'/lists', method: :post do |f| %>
  <h3>Title</h3>
  <%= f.text_field :title %><br>
  <h3>Body</h3>
  <%= f.text_area :body %><br>
  <h3>画像</h3>
  <%= f.file_field :image, accept: "image/*" %>
  <%= f.submit "送信" %>
<% end %>
