<h2>Title</h2>
<%= @list.title %>
<h2>Body</h2>
<%= @list.body %>
<h2>Image</h2>
<% if @list.image.attached? %>
  <%= image_tag @list.image, size: "50x50" %>
<% else %>
  <%= image_tag 'no_image', size: "50x50" %>
<% end %>
<div><%= link_to "edit", edit_list_path(@list) %></div>
