<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to "new", new_list_path %></li>
        <li><%= link_to "index", lists_path %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
